{% for category in categories %}
    <tr class="{% if not category.is_active %}opacity-50{% endif %} ">
        <td>{{ category.title }}</td>
        <td>{{ category.description|truncatewords:2 }}</td>
        <td><a href="{% url 'admin:product_read' category.pk %}" class="admin-button">Товары</a></td>
        <td><a href="{% url 'admin:category_update' category.pk %}" class="admin-button">Редактировать</a>
        </td>
        <td><a href="{% url 'adminapp:category_delete' category.pk %}" data-pk="{{ category.pk }}"
               class="admin-button category-delete"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
    </tr>
{% endfor %}