{% load static %}
<a class="logo" href="{% url 'main' %}"></a>
<ul class="menu">
    <li><a class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}" href="{% url 'main' %}">домой</a>
    </li>
    <li><a class="{% if 'products' in request.path %}active{% endif %}"
           href="{% url 'products:products' %}">продукты</a></li>
    <li><a class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">контакты</a>
    </li>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <li><a class=""
                   href="{% url 'admin:index' %}">Админка</a></li>
        {% endif %}
        <li>
            <div class="nav-item dropdown">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Пользователь</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item {% if 'user_profile' in request.path or 'user_edit' in request.path %}active{% endif %}"
                           href="{% url 'auth:user_profile' %}">{{ user.username }}</a></li>
                    <li><a class="dropdown-item" href="{% url 'orderapp:orders_list' %}">Мои заказы</a></li>
                    <li><a class="dropdown-item" href="{% url 'auth:logout' %}">Logout</a></li>
                </ul>
            </div>
        </li>
    {% else %}
        <li><a class="{% if 'login' in request.path %}active{% endif %}"
               href="{% url 'auth:login' %}">Войти</a></li>
    {% endif %}
</ul>
<a class="search" href="#"></a>
<a class="basket" href="{% url 'basket:basket' %}">{% if basket_quantity %}
    <span class="quantity" style="">{{ basket_quantity }}</span>
    <span class="total_cost"> Всего:&nbsp;{{ basket_cost|floatformat:0 }}&nbsp;&#8381</span>
{% endif %}</a>
