{% extends 'authapp/base.html' %}


{% block content %}
    <div style="display: flex; justify-content: center">
        <h1>{{ title }}</h1>
    </div>
    <form action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Зарегистрироваться" class="btn  form-control"
               style="background: #f44336; color: #ffffff; font-size: 22px; font-weight: 700; text-transform: uppercase;
border-radius: 10px">
    </form>
{% endblock %}
{% block footer %}
<div style="height: 100px"></div>
{% endblock footer%}