{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <h1 style="text-align: center; margin-top: 80px; margin-bottom: 50px;">{{ title|title }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Номер заказа</th>
            <th scope="col">Состояние заказа</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Удалить</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Пользователь</th>
        </tr>
        </thead>
        <tbody>
        {% for order in order_list %}
            <tr>
                <th scope="row">0052{{ order.pk }}</th>
                <th scope="row">{{ order.get_status_display }}</th>
                <td>{{ order.created|date:'d/m/Y' }}</td>
                <td>{{ order.get_total_qunatity }}</td>
                <td>{{ order.get_total_cost|floatformat:0 }} руб.</td>
                <td><a href="{% url 'order:delete_order' order.pk %}"
                       class="admin-button"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                <td><a href="{% url 'admin:order_update' order.pk %}"
                       class="admin-button"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td>{{ order.user }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content-center">
        <div class="col-3"><a href="{% url 'adminapp:order_create' %}" class="btn  form-control"
                              style="background: #f44336; color: #ffffff; font-size: 22px; font-weight: 700; text-transform: uppercase;
border-radius: 10px; margin-top: 20px;">Добавить заказ</a></div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}