{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
    <div id="orders-ajax">
        {% include 'adminapp/includes/ajax-order_admin.html' %}
    </div>
{% endblock %}
{% block footer %}

{% endblock %}
{% block js %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/admin_orders.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="{% static 'js/formset_dynamic.js' %}"></script>

{% endblock %}