{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title| capfirst }}
        {% endblock title %}
    </title>
    {% block css %}
        {#        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    {% endblock %}
    {% block js %}

    {% endblock %}
</head>
<body>
<div class="container">
    {% block menu %}

    {% endblock menu %}
    {% block messages %}
        {% if messages %}
            <div class="row messages">
                {% for message in messages %}
                    <div {% if message.tags %}
                        {% if message.tags == 'error' %}
                            class="col alert alert-danger"
                        {% else %}
                            class="col alert alert-{{ message.tags }}"{% endif %}{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock messages %}

    {% block content %}

    {% endblock content %}
</div>

{% block footer %}
    <div class="footer">
        <div class="clearfix">
            <div class="text-footer">
                <h3>контакты</h3>
            </div>
            <div class="text-footer">
                <h3>полезная информация</h3>
            </div>
            <div class="text-footer clearfix">
                <h3>Оставайтесь на связи</h3>
                <p>Подписаться на новости и рассылки</p>
                <form>
                    <input name="email" placeholder="ваш email" type="email">
                    <a href="#"><i aria-hidden="true" class="fa fa-paper-plane fa-2x"></i></a>
                </form>
            </div>
        </div>
        <p class="small">&copy; GB 2017</p>
        <div class="social">
            <a class="social1" href="#"></a>
            <a class="social2" href="#"></a>
            <a class="social3" href="#"></a>
            <a class="social4" href="#"></a>
        </div>
        <p class="small">Положения &amp; Условия / Конфиденциальность &amp; Cookies</p>
    </div>
{% endblock footer %}


<script src="{% static 'js/basket_app.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>