{% extends 'mainapp/base.html' %}
{% load static %}


{% block menu %}
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_menu.html' %}
        </div>
    </div>
{% endblock menu %}

{% block content %}

    <div class="details">
        <div class="links clearfix">
            {% include 'mainapp/includes/inc_product_menu.html' %}
        </div>

        <div class="details-products">
            <div class="details-slider">
                <div class="slider-product">
                    <img src="{% static 'img/slider1.jpg' %}">
                </div>
                <div class="slider-control">
                    {% for slide in slider_product %}
                        <div class="block">
                            <a href="#"><img alt="" src="{% static slide.img %}">
                                <div class="text"></div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>

            <div class="description">
                <h3 class="big-bold">Отличный стул</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price"> 2585.9 <span>руб</span></p>
                <a class="red-button" href="#">
                    заказать <i aria-hidden="true" class="fa fa-chevron-right"></i>
                </a>
                <div class="description-text">
                    <p>Расположитесь комфортно.</p>
                    <p>Отличное качество материалов
                        позволит вам это.</p>
                    <p>Различные цвета</p>
                    <p>высочайший уровень
                        эргономики и прочность.</p>
                </div>
            </div>
        </div>

        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img alt="" src="{% static 'img/arrow.png' %}"></a>
            </div>
            <div class="related-products clearfix">
                {% for product in rel_products %}
                    <div class="block">
                        <a href="#"><img alt="" src="{% static product.img %}">
                            <div class="text">
                                <img alt="img" src="{% static product.icon %}">
                                <h4>{{ product.title }}</h4>
                                <p>{{ product.text }} </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clr"></div>
{% endblock content %}
