{% extends 'mainapp/base.html' %}
{% load static %}


{% block menu %}
    <div class="hero-white">
        <div class="header clearfix">
            {% include 'mainapp/includes/inc_menu.html' %}
        </div>
    </div>
{% endblock menu %}

{% block content %}

    <div class="details">
        <div class="links clearfix" style="margin-bottom: 50px;">
            {% include 'mainapp/includes/inc_product_menu.html' %}
        </div>

        {% for product in products %}


            <div class="details-products row">
                <div class="col-6">
                    <a href="{% url 'products:product' product.category.slug product.slug %}">
                        <div class="details-slider">
                            <div class="slider-product">
                                <img src="{{ product.image.url }}" style="width: 570px;height: 570px;">
                            </div>
                            <div class="slider-control">
                                {% for image in product.images.all %}
                                    <div class="block">
                                        <a href="#"><img alt="" src="{{ image.image.url }}">
                                            <div class="text"></div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'products:product' product.category.slug product.slug %}"
                       style="text-decoration: none">
                        <div class="description">
                            <h3 class="big-bold">{{ product.title }}</h3>
                            <h3 class="red">горячее предложение</h3>
                            <p class="price"> {{ product.price }} <span>руб</span></p>
                            <a class="red-button" href="{% url 'basket:add' product.pk %}">
                                заказать <i aria-hidden="true" class="fa fa-chevron-right"></i>
                            </a>
                            <div class="description-text">
                                <p>Расположитесь комфортно.</p>
                                <p>Отличное качество материалов
                                    позволит вам это.</p>
                                <p>Различные цвета</p>
                                <p>высочайший уровень
                                    эргономики и прочность.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

        <div class="container row justify-content-center">
            <nav aria-label="Page navigation example" class="col-auto">
                <ul class="pagination success">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i
                                class="fa fa-chevron-left" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                    {% for page in page_obj.paginator.page_range %}
                        <li class="page-item {% if page_obj.number == page %}active{% endif %}"><a class="page-link"
                                                                                                   href="?page={{ page }}">{{ page }}</a>
                        </li>

                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i
                                class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>


        <div class="related">
            <div class="title clearfix">
                <h2>Похожие продукты</h2>
                <a class="explore" href="#">показать все <img alt="" src="{% static 'img/arrow.png' %}"></a>
            </div>
            <div class="related-products clearfix row">
                {% for product in rel_products %}
                    <div class=" col-4">
                        <div class="block">
                            <a href="{% url 'products:product' product.category.slug product.slug %}"><img alt="" src="{{ product.image.url }}" style="width: 370px;height: 370px;">
                                <div class="text">
                                    <img alt="img" src="{% static 'img/icon-hover.png' %}">
                                    <h4>{{ product.title }}</h4>
                                    <p>{{ product.description|truncatewords:2 }} </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="clr"></div>
{% endblock content %}
